$font-family: "Dancing Script", cursive;
$primary-color: #000;
$secondary-color: #555;
$tertiary-color: #999;

$box-shadow: 10px 11px 41px -5px rgba(0, 0, 0, 0.7);
$box-shadow-hover: 10px 11px 51px -5px rgba(0, 0, 0, 0.9);
$active-box-shadow: 42px 6px 24px -14px rgba(122, 116, 122, 0.66);

$note-category-colors: (
    0: #63ac63,
    1: #ef9696,
    2: #c69fe9
);